@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');


/*the guides are initially visible*/
.challenge > .guide , .global-challenge > .guide  {
    display: none;
}

/*when i hover the challenge , its guide will be shown */
.challenge:hover > .guide{
    display: block;
    color : slategray;
    text-decoration: underline;
}


.global-challenge:hover > .guide{
    display: block;
    color : blue;
    text-decoration: underline;
}

/*a special style to the premium challenge guide*/
.premium-challenge > .guide {
    background-color: gold;
    text-align: center;
}

body {
    background-color: yellow;
    
}

.global-challenge {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.challenge {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.global-challenge-description {
    background-color: orange;
    color: cyan;
}

#arrogant-challenge {
    background-color: antiquewhite;
}

#owl-challenge {
    padding: 0;
}

#cool-challenge {
    border: 0.2rem solid blue;
}

#ghost-challenge {
    visibility: hidden;
}

#angry-challenge > p {
    color: red;
}

#tree-challenge > p {
    text-decoration: underline;
}

#unsatisfied-challenge > p {
    font-family: 'Rubik Dirt';
}
